extends _layout
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Quên mật khẩu
            form.form.form--forgotpassword
                .form__group
                    label.form__label(for='email') Email
                    input#email.form__input.ma-bt-md(type='email', placeholder='you@example.com', value='admin@legitaf.io', required)                                 
                    button.btn.btn--green.btn--forgotpassword Xác nhận                   
                    a(onclick='history.back()' style='color: inherit').btn.btn-cancel Huỷ