extends _layoutEmail

block content 
	p Chào #{firstName},
		p(style='font-size:16px; color:#32325c') Tài khoản của bạn: #{email} đã được lên lịch xoá.
		p Nếu bạn không thực hiện yêu cầu xoá tài khoản, hãy liên hệ với chúng tôi tại: #{from}.
	p Chúng tôi rất tiếc khi bạn rời đi.
	p - Admin