extends _layoutEmail

block content 
    p Chào #{firstName},
        p Bạn có thể cập nhật mật khẩu mới trong 10 phút.
        br
        | Hãy nhập mật khẩu mới tại đây:
        br
        | #{url}
        p (Trang này chưa có giao diện::D)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='center')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Đổi mật khẩu
        p Nếu bạn không hiểu email này là gì, hãy đơn giản là xoá nó đi.